.mynavbar {
    position: fixed;
    background: black;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    opacity: 0.85;
}

.mynavbar .title {
    height: 60px;
    padding: 10px;
    color: white;
    /*font-weight: bold;*/
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.profile-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

.introduction {
    background: url("files/coding.jpg") fixed;
}

.introduction .overlay {
    padding: 90px 0 10px 0;
    background: rgba(51, 112, 189, 0.7);
}

.terminal-window {
    margin: 0 auto;
    min-width: 75%;
    max-width: 90%;
    padding: 20px 0;
}

.terminal-window .bar {
    position: relative;
    background: white;
    height: 19px;
    width: 100%;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.terminal-window .title {
    display: inline-block;
    position: relative;
    left: 42%;
    font-family: monospace;
}

.terminal-window .body {
    position: relative;
    color: white;
    width: 100%;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background: black;
    border-radius: 0 0 6px 6px;
}

.introduction .statement {
    position: relative;
    margin: 0 25px;
}

/*EDUCATION*/

.education {
    position: relative;
    background: url("files/rice-campus-1.jpg") fixed;
    background-size: cover;
}

.education .overlay {
    background: rgba(30, 33, 39, 0.80);
    padding: 20px 0;
}

.content {
    color: white;
    padding: 10px 0;
}

/*EDUCATION*/
.education .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 1% 0 0 0;
}

.content hr {
    position: relative;
    left: 5%;
    width: 90%;
    top: -10px;
    background-color: white;
    border-color: white;
}

.education .body {
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    max-width: 90%;
    min-width: 75%;
    margin: auto;
}

.education .coursework {
    margin: 30px 0 0 0;
    border-style: solid;
    border-color: aquamarine;
    border-width: 1px;
    padding: 10px;
}

/*WORK EXPERIENCE*/
.work-experience {
    background: url("files/jpmc.jpg") fixed;
    background-size: cover;
    position: relative;
}

.work-experience .overlay {
    background: rgba(28, 123, 114, 0.8);
}

.work-experience .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    padding: 1% 0 0 0;
}

.work-experience .body {
    padding: 10px 1%;
    height: 95%;
    margin: 0 5%;
    background: rgba(30, 33, 39, 0.60);
}

/*component styles */

.left {
    width: 40%;
    display: inline-block;
    /*float: left;*/
    padding: 10px 2%;
    /*background-color: blue;*/
}

.right {
    display: inline-block;
    float: right;
    /*background-color: red;*/
    width: 60%;
    padding: 10px 2%;
}

.circle {
    background: #ff475a;
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.circle.bar-green {
    background: #63ff52;
}

.circle.bar-yellow {
    background: #ffda40;
}

.red {
    color: red;
}

.blue {
    color: dodgerblue;
}

.green {
    color: green;
}

.circle.bar-yellow {
    background: #ffda40;
}

.highlight-green {
    background-color: green;
    display: inline-block;
}

.black-on-white {
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: bold;
}

hr {
    display: block;
    width: 70%;
    position: relative;
    left: 20%;
    top: -15px;
    border-top: 2px solid #ccc;
    margin: 1em 0;
}


.course {
    width: 90%;
    position: relative;
    left: 5%;
    /*background: lightslategray;*/
    color: black;
    padding: 10px;
}

.course .skill {
    border-radius: 20%;
    padding: 3px 10px;
    position: relative;
    right: -350px;
}

.skill.green {
    background: limegreen;
    color: white;
}
