.mynavbar {
    position: fixed;
    background: black;
    height: 80px;
    width: 100%;
    z-index: 100;
    padding: 10px 20px;
    opacity: 0.85;
}

.mynavbar .title {
    height: 60px;
    padding: 10px;
    color: white;
    /*font-weight: bold;*/
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.profile-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 0 0 10px;
}

.intro-section {
    background: white;
    height: 2000px;
}

.terminal-window {
    position: relative;
    top: 80px;
    left: 10%;
    width: 80%;
    padding: 20px 0;
}

.terminal-window .bar {
    position: relative;
    background: gainsboro;
    height: 19px;
    width: 100%;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.terminal-window .title {
    display: inline-block;
    position: relative;
    left: 42%;
    font-family: monospace;
}

.terminal-window .body {
    position: relative;
    color: white;
    width: 100%;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background: black;
    border-radius: 0 0 6px 6px;
}


.education {
    position: relative;
    top: 100px;
    /*background: gainsboro;*/
    height: 400px;
    background: url("files/rice-1.jpg") fixed;
}

.education .content {
    background-color: #4C5364;
    opacity: .90;
    height: 400px;
    padding: 20px;
}

.education .title {
    opacity: 1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    left: 0;
    right: 0;
}

.education .body {
    opacity: 1;
    color: white;

}

/*component styles */

.circle {
    background: #ff475a;
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.circle.bar-green {
    background: #63ff52;
}

.circle.bar-yellow {
    background: #ffda40;
}

.red {
    color: red;
}

.blue {
    color: dodgerblue;
}

.green {
    color: green;
}

.circle.bar-yellow {
    background: #ffda40;
}

.highlight-green {
    background-color: green;
    display: inline-block;
}

.black-on-white {
    background-color: white;
    color: black;
    display: inline-block;
    font-weight: bold;
}

.intro-coursework {
    width: 80%;
    background: floralwhite;
    position: relative;
    left: 10%;
    margin: 80px 0;
    height: 500px;
}

/*.intro-coursework {*/
    /*width: 80%;*/
    /*background: floralwhite;*/
    /*position: relative;*/
    /*left: 10%;*/
    /*margin: 80px 0;*/
    /*height: 500px;*/
/*}*/
/*.intro-coursework .pic-rice {*/
    /*height: 100px;*/
    /*position: relative;*/
    /*border-radius: 50%;*/
    /*top: 30px;*/
    /*left: 20px;*/
/*}*/

.intro-coursework .title {
    font-weight: bold;
    font-size: 40px;
    color: gray;
    position: relative;
    left: 22%;
    top: 30px;
}

hr {
    display: block;
    width: 70%;
    position: relative;
    left: 20%;
    top: -15px;
    border-top: 2px solid #ccc;
    margin: 1em 0;
}

.intro-coursework .title.sub {
    font-size: 15px;
    top: -25px;
    left: 38%;
    font-weight: 400;
}

/*.intro-coursework .title.sub {*/
    /*font-size: 15px;*/
    /*top: -25px;*/
    /*left: 38%;*/
    /*font-weight: 400;*/
/*}*/
.course {
    width: 90%;
    position: relative;
    left: 5%;
    /*background: lightslategray;*/
    color: black;
    padding: 10px;
}

.course .skill {
    border-radius: 20%;
    padding: 3px 10px;
    position: relative;
    right: -350px;
}

.skill.green {
    background: limegreen;
    color: white;
}

.intro-coursework .col {
    position: relative;
    display: inline-block;
    background: red;
    margin: 15px;
    width: 40%;
}

.intro-coursework .col.right {
    position: relative;
    display: inline-block;
    background: green;
    width: 40%;
}