.mynavbar {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    height: 80px;
    width: 100%;
    z-index: 100;
    text-align: center;
}

.mynavbar .title {
    margin: 10px 0;
    padding: 10px 0 0 11%;
    color: white;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

.mynavbar .profile-image {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.mynavbar .menu-icon {
    font-size: 25px;
}

.mynavbar .dropdown {
    color: white;
    padding: 30px 4% 20px 4%;
    float: right;
    display: inline-block;
    text-align: right;
}

.mynavbar .dropdown:hover .dropdown-content  {
    display: block;
}

.mynavbar .dropdown:hover .menu-icon {
    color: orange;
}

.mynavbar .dropdown-content a:hover {
    background: gray;
}

.mynavbar .dropdown-content {
    position: absolute;
    min-width: 40px;
    z-index: 1;
    display: none;
    top: 100%;
    left: -45%;
    right: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.mynavbar .dropdown-content a {
    display: block;
    background: rgba(52, 78, 94, 0.90);
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    color: white;
}

.introduction {
    background: url("files/mac_screen.jpg") fixed;
}

.introduction .overlay {
    padding: 90px 0 10px 0;
    background: rgba(51, 112, 189, 0.7);
}

.terminal-window {
    margin: 0 auto;
    min-width: 75%;
    max-width: 90%;
    padding: 20px 0;
}

.terminal-window .bar {
    position: relative;
    background: white;
    height: 19px;
    width: 100%;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.terminal-window .title {
    display: inline-block;
    position: relative;
    left: 42%;
    font-family: monospace;
}

.terminal-window .body {
    position: relative;
    color: white;
    width: 100%;
    padding: 10px;
    font-family: monospace;
    font-size: 20px;
    background: black;
    border-radius: 0 0 6px 6px;
    box-shadow: 2px 2px 15px black;
    height: 500px;
}

.cmd {
    color: dodgerblue;
}

.response {
    padding: 0 0 0 25px;
}

.introduction .statement {
    position: relative;
    margin: 0 25px;
}

/*EDUCATION*/

.education {
    position: relative;
    background: url("files/rice-campus-1.jpg") fixed;
    background-size: cover;
}

.education .overlay {
    background: rgba(30, 33, 39, 0.80);
    padding: 20px 0;
}

.content {
    color: white;
    padding: 10px 0;
}

.education .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 1% 0 0 0;
}

.content hr {
    text-align: center;
    width: 90%;
    position: relative;
    top: -10px;
    border-top: 2px solid #ffffff;
}

.education .body {
    font-size: 17px;
    font-family: 'Karla', sans-serif;
    max-width: 90%;
    min-width: 75%;
    margin: auto;
}

.education .border {
    margin: 30px 0 0 0;
    border-style: solid;
    border-color: aquamarine;
    border-width: 1px;
    padding: 10px;
}

.education .languages .sub-title {
    font-size: 18px;
    color: deepskyblue;
}

.education .languages ul {
    list-style-type: none;
    padding-left: 2%;

}

.education .languages li {
    display: inline-block;
    border-radius: 12%;
    padding: 2.5px;
    margin: 1% .5% 0 .5%;
    border-color: #c14434;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}

.education .frameworks .sub-title {
    font-size: 18px;
    color: deepskyblue;
}

.education .frameworks ul {
    list-style-type: none;
    padding-left: 2%;

}

.education .frameworks li {
    display: inline-block;
    border-radius: 12%;
    padding: 2.5px;
    margin: 1% .5% 0 .5%;
    border-color: #c14434;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
}

/*WORK EXPERIENCE*/
.work-experience {
    background: url("files/fb.jpg") fixed;
    background-size: cover;
    position: relative;
}

.work-experience .border {

}

.work-experience .overlay {
    background: rgba(14, 165, 255, 0.8);
}

.work-experience .title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    padding: 1% 0 0 0;
}

.work-experience .body {
    padding: 10px 1%;
    margin: 0 5%;
    background: rgba(30, 33, 39, 0.60);
}

.contact {
    background: #000000;
    padding: 5px 0;
    width: 100%;
    text-align: center;
}

.contact .adjust {
    position: relative;
    left: 1.5%;
}

.icon {
    display: inline-block;
    background-size: 100%;
    text-decoration: none;
    color: white;
    margin: 0 1% 0 0;
}

.icon-email {
    height: 27px;
    width: 27px;
    background-image:url("files/gmail2.png");
}

.icon-linkedin {
    height: 30px;
    width: 30px;
    background-image: url("files/linkedin.png");
}

.icon-github {
    height: 33px;
    width: 33px;
    background-image: url("files/github.png");
}

.contact .title {
    color: white;
    display: inline-block;
    position: relative;
    bottom: 10px;
    right: 1%;
}

/*!*PERSONAL PROJECTS*!*/
/*.personal-projects {*/
    /*background: url("files/study.jpg") fixed;*/
    /*background-size: cover;*/
    /*position: relative;*/
/*}*/

/*.personal-projects .overlay {*/
/*}*/

/*component styles */

.left {
    width: 40%;
    display: inline-block;
    /*float: left;*/
    padding: 10px 2%;
    /*background-color: blue;*/
}

.right {
    display: inline-block;
    float: right;
    /*background-color: red;*/
    width: 60%;
    padding: 10px 2%;
}

.circle {
    background: #ff475a;
    width: 10px;
    height: 10px;
    position: relative;
    left: 5px;
    border-radius: 50%;
    display: inline-block;
}

.circle.bar-green {
    background: #63ff52;
}

.circle.bar-yellow {
    background: #ffda40;
}

.red {
    color: red;
}

.green {
    color: green;
}

